<header id="header" class="fixed-top">
    <div class="smallHeader">For any query, email us at <font style="color: #ff0000;">test@materialstocks.com</font>
        or call us on <font style="color: #ff0000;">+91 1234567890</font>
    </div>
    <nav id="mainNav" class="navbar navbar-expand-lg">
        <div class="container">
            <div class="mobFlex">
                <!-- ========= hamberger icon for Mobile ============  -->
                <button class="navbar-toggler hamburgerIcon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars hamberger"></i></span>
                </button>

                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" class="img-fluid AllLogo" alt="">
                    <img src="img/ib-logo-back.svg" class="img-fluid mobileLogo" alt="">
                </a>
            </div>

            <!-- =========================== mobile Nav =========================  -->

            <div class="mobileNav">
                <div class="mobileCartDrop">


                    <div class="mobileCartBucket"> <i class="fa-solid fa-cart-shopping cartIcon"></i></div>
                    <div class="dropdown">
                        <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user" style="color: black;"></i>
                        </div>
                        <ul class="dropdown-menu mobileUser" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><i
                                        class="fa-solid fa-user me-2"></i>Login/Register</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-handshake me-2"></i>Pay
                                    Later</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-coins me-2"></i>IB Coin</a>
                            </li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#trackOrderModal"><i
                                        class="fa-solid fa-location-dot me-2"></i>Track
                                    Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- =========================== mobile Nav end =========================  -->


            <div class="inputSearchDiv">
                <form action="">
                    <div class="dropdown allCatDiv">
                        <button class="btn dropdown-toggle allCategoryBtn" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            All Categories
                        </button>
                        <ul class="dropdown-menu mt-5" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">All Categories</a></li>
                            <li><a class="dropdown-item" href="#">Adhesives Sealants and Tapes</a></li>
                            <li><a class="dropdown-item" href="#">Agriculture Garden & Landscaping</a></li>
                            <li><a class="dropdown-item" href="#">Abrasives</a></li>
                            <li><a class="dropdown-item" href="#">Automotive Maintenance and Lubricants</a></li>
                            <li><a class="dropdown-item" href="#">Bearings</a></li>
                            <li><a class="dropdown-item" href="#">Construction & Civil Equipments</a></li>
                            <li><a class="dropdown-item" href="#">Electrical</a></li>
                            <li><a class="dropdown-item" href="#">Cleaning</a></li>
                            <li><a class="dropdown-item" href="#">Industrial Automation</a></li>
                            <li><a class="dropdown-item" href="#">Machinery</a></li>
                            <li><a class="dropdown-item" href="#">Motors & Power Transmission</a></li>
                        </ul>
                    </div>
                    <div>
                        <button class="searchBtn">
                            <i class="fa-solid fa-magnifying-glass searchBtnIcon"></i>
                        </button>
                    </div>
                    <input class="searchHolder" placeholder="Search Product..." type="text">
                </form>
            </div>

            <div class="logRegBtn">
                <a href="">Login/Register</a>
            </div>
            <div type="button" class="locationBtn" data-bs-toggle="modal" data-bs-target="#trackOrderModal">
                <i class="fa-solid fa-location-dot locIcon"></i>
                <span> Track <strong>Order</strong></span>
            </div>
            <div class="cartBtn">
                <a href="">
                    <div>
                        <i class="fa-solid fa-cart-shopping cartIcon"></i>
                    </div>
                    <div>
                        <span class="badge rounded-pill bg-light text-dark">
                            0
                        </span>
                        <p>
                            Cart
                        </p>
                    </div>
                </a>
            </div>
            <div class="downApp">
                <div style="text-align: center;">
                    <a href=""><img src="img/playstore.png" class="downloadicon" alt=""></a>
                    <span style="color: white;">|</span>
                    <a href=""><img src="img/iosstore.png" class="downloadicon" alt=""></a>
                </div>
                <p class="downloadText">
                    Download the APP!
                </p>
            </div>
        </div>
    </nav>
</header>